<%= render 'shared/content_card' do %>
  <div class="text-center mb-8">
    <h1 class="italic text-5xl md:text-5xl font-extrabold  text-black mb-5">
      サイコロ陸上
    </h1>
    <h2 class="text-3xl font-semibold text-black mb-5">ABOUT</h2>
    <p class="font-medium text-black mb-5">走る距離をサイコロの出目に委ねて決められる遊び心満載のアプリケーションです。運動したい方、走るのが好きな方に向けて開発しました。</p>
    <h2 class="text-3xl font-semibold  text-black mb-5 ">ATTENTION!</h2>
    <p class="font-medium text-black mb-5">急激な運動は怪我を引き起こす恐れがあります。入念にストレッチを行なってから本アプリをご使用ください。また、本アプリの使用中、または使用後には必ず水分補給を取って下さい。</p>
  </div>
  <div class="text-center">
    <p>始める</p>
  </div>
<% end %>    