<%= render 'shared/content_card' do %>
  <div class="text-center mb-8">
    <h1 class="text-5xl md:text-5xl font-extrabold  text-black mb-5">
      出目表
    </h1>
    <div class="lists space-x-4 gap-6 text-center mb-8 bg-black text-white lg:p-12">    
      <h1 class="text-5xl md:text-5xl font-extrabold mb-5">50m</h1>
      <h1 class="text-5xl md:text-5xl font-extrabold mb-5">100m</h1>
      <h1 class="text-5xl md:text-5xl font-extrabold mb-5">400m</h1>
      <h1 class="text-5xl md:text-5xl font-extrabold mb-5">800m</h1>
      <h1 class="text-5xl md:text-5xl font-extrabold mb-5">1500m</h1>
      <h1 class="text-5xl md:text-5xl font-extrabold mb-5">42.195km</h1>
    </div> 
  </div>
<% end %>