<%= render "shared/content_card" do %>
  <div class="text-center mb-8">
    <h1 class="text-5xl md:text-5xl font-extrabold  text-black mb-5">
       運命の選択
    </h1>
    <div class="lists space-y-6 text-center mb-8 bg-black text-white ld:p-12">
    </div>
  </div>
<% end %>